.section {
}

.section-title {
}

.article {
}

.article-title {
}

.article-p {
}

.list-product {
  list-style: none;
  padding: 0;
  margin: 0;
  /* display: grid;
  grid-template-columns: repeat(4, 1fr); */
  display: flex;
  flex-flow: row wrap;
  overflow: scroll;
  height: auto;
  gap: 0.5%;
}

.card-product {
  border: 1px solid black;
  flex: 1 0 23%;
  display: flex;
  flex-flow: column;
  margin: 0 0 2vh 0;
  height: 38vh;
  padding: 0.25vh;
}

.product-image-container {
  align-self: center;
  padding: 100px 0;
  margin: 0.25vw;
  max-width: 100%;
  height: 50%;
  width: 10vw;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.product-image {
  object-fit: scale-down;
  height: 20vh;
}

.product-title {
  text-align: left;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 1;
  width: 100%;
  height: calc(1.17rem * 4);
  margin: 0.25vw;
}

.product-rating {
  margin: 0.25vw;
}

.product-price {
  margin-top: auto;
  align-self: center;
}

p {
  overflow-wrap: break-word;
  text-wrap: wrap;
  overflow: hidden;
}

@media (max-width: 1000px) {
  .list-product {
    gap: 2vh;
  }

  .card-product {
    flex: 1 0 45%;
  }

  .product-image-container {
    width: 20vw;
  }
}

@media (max-width: 500px) {
  .card-product {
    flex: 1 0 90%;
    padding: 2vw;
  }

  .product-image-container {
    width: 100%;
    height: 70%;
    padding: 0 5vw;
  }
}
