.product-dialog {
  justify-self: center;
  align-self: center;
  box-sizing: border-box;
  padding: 2.5vw 5vw;
  background-color: white;
  border: 1px solid hsl(var(--color3), 100%, 50%);
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  width: 65vw;
  height: 85vh;
  max-height: 85vh;
  /* display: flex; */
  /* flex-flow: column; */
}

.product-dialog-content-container {
  height: 100%;
  max-height: 100%;
  display: flex;
  flex-direction: column;
  gap: 2vh;
}

.product-dialog-image-container {
  height: 20%;
}

/* .product-dialog-image-container {
  align-self: center;
  margin: 0.5vw;
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
} */

.product-dialog-image {
  height: 40vh;
  align-self: center;
  justify-self: center;
  object-fit: scale-down;
  /* height: 50%; */
}

.product-dialog-metainfo {
  display: flex;
  justify-content: space-around;
}

/* .product-dialog-category {
}

.product-dialog-rating {
} */

.product-dialog-title {
  width: 100%;
  line-height: 1;
  text-wrap: wrap;
}

.product-dialog-price {
  font-size: x-large;
}

.product-dialog-description {
  margin: 0;
  padding: 0;
}

.product-dialog-controlls {
  margin-top: auto;
}

/* .product-dialog-button-close {
} */

.product-dialog-controlls {
  width: 100%;
  min-width: 100%;
  display: flex;
  align-items: center;
  gap: 0.5vw;
  font-size: 1.25rem;
  /* margin-bottom: 1vh; */
  padding-bottom: 1vh;
}

#quantity {
  width: 3rem;
}

.product-dialog-controlls > button:hover {
  cursor: pointer;
}

.product-dialog-controlls button {
  padding: 0 1vw;
}

.label {
  margin-left: auto;
}

@media (max-width: 1000px) {
  .product-dialog {
    width: 85vw;
  }
}

@media (max-width: 500px) {
  .product-dialog {
    width: 100vw;
    height: 100vh;
    max-width: 100%;
    max-height: 100%;
  }
}
