.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: var(--navigation-height);
  font-size: 1.25rem;
  background-color: azure;
}

.left {
  display: flex;
  flex: 1;
  justify-content: center;
  gap: 1dvw;
  align-items: center;
}

.right {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
}

.ul {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2.5dvw;
  list-style: none;
  margin: 0;
  padding: 0;
}

.img:hover {
  filter: drop-shadow(0 0 1em orange);
  cursor: pointer;
}

.link {
  color: hsl(var(--color3), 100%, 50%);
}

.link:hover {
  color: hsl(var(--color3), 100%, 70%);
}

.shopping-cart {
  color: hsl(calc(var(--color4)), 100%, 40%);
  text-decoration: underline;
}

.shopping-cart:hover {
  cursor: pointer;
}

.dialog {
  justify-self: center;
  align-self: center;
  box-sizing: border-box;
  padding: 2.5vw 5vw;
  background-color: white;
  border: 1px solid hsl(var(--color3), 100%, 50%);
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  width: 65vw;
  height: 85vh;
  max-height: 85vh;
}

.dialog-content {
  height: 100%;
  max-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2vh;
}

.cart-list {
  padding: 0;
  margin-top: 0;
}

.cart-list-item {
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
  gap: 2vw;
  margin-top: 1vh;
}

.cart-list-item:first {
  margin-top: 0;
}

.dialog-item-image {
  display: inline;
  height: 50px;
  width: 50px;
  object-fit: scale-down;
}

.dialog-total-price {
  margin-top: auto;
}

.dialog-controls {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

body:has(.dialog[open]) {
  overflow: hidden;
}
