.main {
  margin: 0 var(--body-margin);
}

@media (max-width: 1000px) {
  .main {
    margin: 0 var(--body-margin-medium);
  }
}

@media (max-width: 500px) {
  .main {
    margin: 0 var(--body-margin-small);
  }
}

@media (max-width: 400px) {
  .main {
    margin: 0 0;
  }
}
